In [17]:
import os

os.makedirs(os.path.join('..', 'data'), exist_ok=True)
data_file = os.path.join('..', 'data', 'house_tiny.csv')
with open(data_file, 'w') as f:
    f.write('''NumRooms,RoofType,Price
NA,NA,127500
2,NA,106000
4,Slate,178100
NA,NA,140000''' )

In [18]:
data_file

'../data/house_tiny.csv'

In [19]:
import pandas as pd

data = pd.read_csv(data_file)
print(data)

   NumRooms RoofType   Price
0       NaN      NaN  127500
1       2.0      NaN  106000
2       4.0    Slate  178100
3       NaN      NaN  140000

# 2.2.2. Data Preparation

In [20]:
inputs, targets = data.iloc[:, 0:2], data.iloc[:, 2]

In [21]:
inputs

   NumRooms RoofType
0       NaN      NaN
1       2.0      NaN
2       4.0    Slate
3       NaN      NaN

In [22]:
inputs = pd.get_dummies(inputs, dummy_na = True, dtype=float)
inputs

   NumRooms  RoofType_Slate  RoofType_nan
0       NaN             0.0           1.0
1       2.0             0.0           1.0
2       4.0             1.0           0.0
3       NaN             0.0           1.0

In [23]:
inputs = inputs.fillna(inputs.mean())
inputs

   NumRooms  RoofType_Slate  RoofType_nan
0       3.0             0.0           1.0
1       2.0             0.0           1.0
2       4.0             1.0           0.0
3       3.0             0.0           1.0

# 2.2.3. Conversion to the Tensor Format

In [24]:
import torch
X = torch.tensor(inputs.values)
X

tensor([[3., 0., 1.],
        [2., 0., 1.],
        [4., 1., 0.],
        [3., 0., 1.]], dtype=torch.float64)

In [25]:
y = torch.tensor(targets.values)
y

tensor([127500, 106000, 178100, 140000])